.add-user {
  max-width: 400px;

  mat-form-field {
    width: 100%;
  }

  &-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    mat-label {
      margin-bottom: 16px;
    }

    mat-radio-group {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
}
