<div class="add-user">
  <h2>Create user</h2>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label for="firstName">First Name</mat-label>
      <input matInput id="firstName" type="text" formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="lastName">Last Name</mat-label>
      <input matInput id="lastName" type="text" formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="email">E-mail</mat-label>
      <input matInput id="email" type="text" formControlName="email" />
    </mat-form-field>

    <div class="add-user-control">
      <mat-label>Sex</mat-label>

      <div *ngFor="let item of genders">
        <mat-checkbox
          [checked]="selectedGender === item"
          (change)="onSexSelected(item)"
          >{{ item }}
        </mat-checkbox>
      </div>
    </div>

    <div class="action-buttons">
      <button
        mat-raised-button
        color="primary"
        (click)="onCreateUser()"
        [disabled]="!userForm.valid"
      >
        Create user
      </button>

      <button mat-raised-button (click)="onCloseModal()">Back</button>
    </div>
  </form>
</div>
